HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
flowable-admin-ui/src/api/manage.js
flowable-admin-ui/src/commons/customTranslate/translationsGerman.js
flowable-admin-ui/src/components/VueBpmn/
flowable-admin-ui/src/utils/util.js
flowable-system/src/main/resources/static/
flowable-system/src/main/resources/templates/
logPath_IS_UNDEFINED/
